/********* RESET *********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #412120;
    color: #f7ead1;
}

/********* COMMON *********/

h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

[v-cloak] {
    display: none;
}

ul li {
    list-style-type: none;
}

header, footer {
    height: 60px;
}

a {
    font-size: 1.1rem;
    color: #f7ead1;
    text-decoration: none;
}



/********* HEADER*********/
header nav,
header  .icon-ctn,
header  .site-title {
    width: calc(100% / 3);
}


/********* MAIN *********/

main {
    height: calc(100vh - 60px);
}

main .container {
    height: 100%;
    width: 100%;
}

main .left,
main .right {
    width: 40%;
}

.list-group > .ms-li {
    background-color: #412120;
    color: #f7ead1;
    border: 0;
    padding: 10px 3px;
}

.ms-type-bar {
    background-color: #f7ead1;
    color: #412120;
}

.ms-type-bar:focus {
    box-shadow: none;
    background-color: #f7ead1;
    border-color: #f7ead1;
}

.ms-type-btn {
    background-color: burlywood;
    color: #412120;
    border: none;
}

.ms-type-btn:hover {
    background-color: transparent;
    border: 1px solid #f7ead1;
    color: #f7ead1;
}



